* {
    box-sizing: border-box;
}

body {
    min-width: 568px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    overflow-x: hidden;
}

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

@font-face {
    font-family: Funny;
    src: url(fonts/Funny.ttf
    )
}

.header-content h1 {
    font-family: Funny;
    letter-spacing: .6vw;
}

.container {
    max-width: 960px;
    padding: 0 1rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #656eff;
    z-index: 1;
    opacity: .7;
}

.header-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.header-content h1{
    font-size: 54px;
}

.header-content p {
    font-size: 1.8rem;
}

.btn {
    margin-top: 8vh;
    align-self: center;
    color: black;
    background: #ff9e79;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 2rem;
    padding: 1rem 3rem;
    text-decoration: none;
}

.open-slide {
    margin: 10px;
}

.navbar {
    opacity: .8;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    height: 50px;
}

.navbar-nav {
    height: auto;
}

nav ul {
    -margin: -20px 0;
    width:100%;}

nav a{text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: black;
}

nav a:hover {
    color: #ff9e79;
}

/*.btn-close {  */
    /*margin-left: 7%;*/
/*}*/

#side-menu {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 0;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    opacity: .8;
    overflow-x: hidden;
    padding-top: 5vh;
    transition: .7s;

}

#side-menu a {
    margin: 5% 0;
    text-decoration: none;
    font-size: 1.2em;
    color: #656eff;
}

#side-menu a:hover {
    color: white;
}

#side-menu a:active {
    color: #ff9e79;
}

nav li {
    display: inline-flex;
    align-content: center;
    padding: 0 7%;
}

.section-goods .hit, .best-price {
    display: flex;
    flex-direction: column;
    }

.hit .hit-wrap, .best-price-wrap {
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.hit h2, .best-price h2 {
    margin: auto;
}

.box img {
    max-width: 50%;
}

.section-description {
    display: flex;
    flex-direction: column;
    color: white;
}

.section-description h1, p {
    text-align: center;
    margin: 0 4%;
    padding: 2% 1%;
}

.section-subscribe {
    display: flex;
    justify-content: center;
}

.section-subscribe h1 {
    padding-right: 25%;
}

.pimg1, .pimg2 {
    position: relative;
    opacity: .6;
    background: no-repeat fixed center;
    background-size: cover;
}

.pimg1 {
    background-image: url('img/winter_night.png');
    min-height:200%;
    opacity: .9;
}

.pimg2 {
    background-image: url('img/winter_day.png');
    min-height:200%;
}

.section-order {
    text-align: center;
}

/*.section-order h1 {*/
    /*margin-left: 40%;*/
/*}*/

/*.section-order p {*/
    /*padding-left: 33%;*/
/*}*/

.section-order span:hover {
    color: #ff9e79;
}

.section-order img {
    margin-left: -70%;
    width: 25%;
    height: 50%;
}

.section-order img:hover {
    width: 50%;
    object-fit:cover;
}
#top {
    position: fixed;
    right: 20px;
    bottom: 5vh;
    opacity: .4;
    transform: scale(.65);
    background-color: #656eff;
}

#top:hover {
    opacity:1;
    background-color: #fff;
}

.footer-nav {
    height: 40px;
    width: 100%;
    margin-bottom: 6vh;
    background-color: #72688f;
}

.footer-nav ul {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer-nav ul > li {
    padding-top: 9px;
}

.footer-nav a{
    text-decoration: none;
    color: white;
}

.footer-nav a:hover {
    color: #ff9e79;
}

.footer-last {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    font-size: .8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslateblue;
    opacity: .4;
    color: white;
}

.footer-last p:hover {
    color: #ff9e79;
    transform: scale(1.3);
}

@media (max-width: 568px)  {


    .navbar-nav{display:none}

    .section-description {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 1% 5%;
    }



    .pimg1, .pimg2 {
        background-attachment: scroll;
    }
}

img.ri:empty {
    transform: translate(.5, .5)
}

@media screen and (orientation: portrait) {
    img.ri { max-width: 90%; }
}

@media screen and (max-width: 768px){

    .fullscreen-video-wrap video{
        visibility: hidden;
    }

    .header-overlay {
        background: -webkit-linear-gradient(#274046, #e6dada);
        background: -o-linear-gradient(#274046, #e6dada);
        background: -moz-linear-gradient(#274046, #e6dada);
        background: linear-gradient(#274046, #e6dada);
    }

    .header-content h1 {
        display: none;
    }

    .header-content p {
        font-size: 3rem;
    }

    .hit-wrap, .best-price-wrap {
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section-goods img {
        min-width: 80%;
    }

    .non-mobile {
        display: none;
    }

    .section-order img {
        display: none;
    }

    .footer-nav {
        height: auto;
    }

    .footer-nav ul {
        flex-direction: column;
    }

    img.ri { max-height: 90%; }
}

@media (max-width: 1024px)  {
    .header-content h1 {
        font-size: 2.5rem;
    }

    .section-goods img {
        max-width: 75%;
    }

}

@media (max-width: 1920px)  {}